.login-register-container {
  padding: 40px 20px;
  max-width: 500px;
  margin: 0 auto;
}

.login-register-paper {
  padding: 30px;
}

.section-title {
  text-align: center;
  font-weight: 600 !important;
}

